@charset "UTF-8";
/* CSS Document */
body {
  --color-page-background: rgba(0, 0, 80, .15);
  --color-primary-light: rgb(240,240,240);
  --color-primary-dark: rgb(10,10,10);
}

.nightmode {
  --color-page-background: rgba(0, 0, 20, .95);
  --color-primary-light: rgb(10,10,10);
  --color-primary-dark: rgb(240,240,240);
}


* {
    transition: all .2s ease-in;
}

body {
  background-color: var(--color-page-background);
  font: 1.1em/1.4 Dosis;
  color: var(--color-primary-dark);
}

main {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

article {
  padding: 2rem;
  background-color: var(--color-primary-light);
  box-shadow: 6px 6px 0 0 var(--color-primary-dark);
}
  * {
    margin: 0;
  }
  * + * {
    margin-top: 1rem;
  }

[data-switch-contrast] {
  position: fixed;
  right: 2rem;
  top: 2rem;
  height: 3rem;
  width: 3rem;
  
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-light);
  color: var(--color-primary-light);
  border-radius: 50%;
}                               
